.app {
  border: 2px red solid;
  height: 100vh;
  width: 100vw;
}

.chosen-sacrifice {
    margin: 0 auto;
}

.page {
    border: 2px green solid;
    height: 100%;
    width: 100%;
}

.main-page {
}

.normal-page {
}

.gear {
    display: block;
    margin: auto;
}

.boring-gear {
}

.normal-gear {
    animation: rotate infinite 2s linear;
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
